table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 10px;
    width: 100%;
    
}

#myTable {
    border-spacing: 0;
}
  
.empty th{
    height: 0;
    padding: 0;
    border: none;
}
.empty-1 th{
    height: 0;
    padding: 0;
    border: none;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}