body{
    background-color: #f3e9ff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    
    
    
    
}
h1 {
    font-size: 16px;
    color: rgb(88, 49, 196);
}

header {
    text-align: center;
    
    
}

header img {
    width: 100px;
}
main {
    background-color: rgb(122, 74, 218);
    padding: 16px;
    margin: 10px auto;
    width: 19rem;
    border-radius: 8px;
    color: rgb(248, 241, 255);
    
    
}


ul, li, p, h2 {
    font-size: 7px;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;

}
li {
    margin: 14px 0;
    padding-left: 10px;
    border-left: 5px solid transparent;
    
    

}

a {
    text-decoration: none;
    color: rgb(36, 3, 102);
    background-color: rgb(255, 237, 177);
    padding: 2px 6px;
    border-radius: 4px;
}

a:hover, 
a:active {
    background-color: rgb(250, 201, 39);
}

footer {
    text-align: center;
    font-size: 7px;
    margin-bottom: 20px;
}
footer p {
    color: rgb(131, 113, 149);
    margin-top: 10px;
    
}
.havan {
    color: rgb(255, 237, 177);
    border-color: rgb(247, 209, 85);
    
}


.highlight {
    font-weight: bold;
}
