* {
    padding: 0;
    margin: 0;
    /* background-color: antiquewhite; */
    font-size: 16px;
    
    
}

body {
    padding: 10px;
    background-color: white;
      
}

table {
    margin-left: 15px;
}

th, td {
    text-align: left;
    display: ;
}

h2 {
    border: none;
    border-bottom: 1.5px solid black;
    /* Gạch chân đen */
    outline: none;
    /* Loại bỏ đường viền xung quanh trường nhập liệu */
    width: 55%;
    font-size: 20px;
}

.radio-button {
    height: 12px;
    width: 30px;

}
input[type="text"] {
    width: 600px;
    height: 30px;
    border: 1.5px solid gray;
    border-radius: 3px;   
}
input[type="datetime"] {
    width: 600px;
    height: 30px;
    border: 1.5px solid gray;
    border-radius: 1px;   
}
input[type="email"] {
    width: 600px;
    height: 30px;
    border: 1.5px solid gray;
    border-radius: 3px;  
}
input[type="tel"] {
    width: 600px;
    height: 30px;
    border: 1.5px solid gray;
    border-radius: 1px;  
}
main  td {
    padding-left: 30px;
}
i {
    font-size: 16px;
    margin-left: 10px;
    margin-top: 15px;
    
}
footer td{
    padding-left: 30px;
}
textarea{
    margin-left: 10px;
    border: 1.5px solid gray;
    background-color: whitesmoke;
}
.leha {
    width: 630px;
    height: 250px;
    
    
    border: 1px solid gray;
}
.check-box {
    height: 12px;
    width: 30px;
}
/* input[type="checkbox"] {
    width: 5px;
    height: auto;
} */
.leha1{
    height: 12px;
    width: 30px;
    margin: 3px;

}
.leha2 {
    height: 12px;
    width: 30px;
}
.leha3{
    margin-left: 250px;
}
.leha4{
    font-size: 40px;
    font-weight: bold; /* Đậm */
    color: transparent; /* Văn bản trong suốt */
    background: linear-gradient(0deg, black 65%, transparent 50%);
    background-size: 3px 3px; /* Kích thước của mỗi nét */
    -webkit-background-clip: text; Chỉ lấy phần nền bên trong chữ
    background-clip: text; /* Chỉ lấy phần nền bên trong chữ */;
}
.leha5{
    margin: 15px;
}
 input[type="submit"] {
    color: white;
    background-color: gray;
    border: 6px solid gray;
    font-size: 10px;
    margin-left: 600px;  
}
p, input[type="submit"] input[type="button"]{
    display: inline-block;
}
input[type="button"] {
    color: white;
    background-color: gray;
    border: 6px solid gray;
    font-size: 10px;
}
h3 {
    margin-left: 20px;
}
.halevan {
    width: 615px;
    height: 175px;
}